@media (max-width:991px){
    html{
        font-size: 55%;
    }

   /* HOME */
    .home .row .content h3{
        font-size: 8rem;
    }
    
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
        transition: .5s ease-in-out;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .flex .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border-top: .1rem solid orange;
        border-bottom: .1rem solid orange;
        background-color: white;
        transition: .5s;

        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a{
        display: block;
        margin: 2rem;

    }

    /* HOME */
    .home .row .content h3{
        font-size: 6rem;
    }
    .home .row .image img{
        width: 70%;
    }
    

}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
}